obj/
build/
export/
lib/
*.suo


# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

#cmake generated project files
macMake/
macXcode/

# NSight user settings
*.nvuser

# Blender backup files
*.blend*
!*.blend